projeto/app/static/xml/appUsers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="users" type="usersType"/>
  <xs:complexType name="cidadeType">
    <xs:sequence>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:string" name="nome"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cidadesType">
    <xs:sequence>
      <xs:element type="cidadeType" name="cidade"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comentarioType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="data" use="required"/>
        <xs:attribute type="xs:string" name="data" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="comentariosType">
    <xs:sequence>
      <xs:element type="comentarioType" name="comentario"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userType">
    <xs:sequence>
      <xs:element type="xs:string" name="mail"/>
      <xs:element type="cidadesType" name="cidades" minOccurs="0"/>
      <xs:element type="comentariosType" name="comentarios" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usersType">
    <xs:sequence>
      <xs:element type="userType" name="user" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>